// Table of Content
//==================================================
// Page Style
// Header Style
// Logo style
// Nav style
// Content Style
// SideBar Style
// Footer Style
//==================================================

//	PAGE Style
//==================================================
main{
    height                     : 100%;
    background                 : @main-bg;
    background-size            : cover;
    overflow                   : auto;
    -webkit-overflow-scrolling : touch;
    position                   : relative;
    z-index                    : 1;
    .box-shadow(0 0 10px fade(#000, 50%))
}

//	HEADER Style
//==================================================
@import "../components/header";

//	Aricle Style
//==================================================
article{
    background : @article-bg;
    color      : @article-color;
    padding    : @padding-base-vertical @padding-base-horizontal;
}

//	FOOTER Style
//==================================================
@import "../components/footer";

//	SIDEBAR Style
//==================================================
aside{
    width      : @aside-width;
    background : @aside-bg;
    color      : @aside-color;
    overflow   : auto;

    a{
        color : @aside-link-color;
    }

    .aside-box{
        margin-bottom : 30px;
    }

    // -- NAV Style
    nav{ }
}