@radar-diameter   : 300px;
@radar-radius     : @radar-diameter / 2;
@radar-color      : @color-morningR;
@radar-dot-width  : 4px;
@radar-line-speed : 2s; // for radar = 5s, for sonar = 2.5s

#radar, #sonar{
    position   : relative;
    width      : @radar-diameter;
    height     : @radar-diameter;
    margin     : auto;
    background : @gray-darker;
    overflow   : hidden;
    border     : 2px solid @radar-color;
    .border-radius(@radar-diameter);
    //    .box-shadow(inset 0 0 50px -2px darken(@radar-color, 10%));

    &:before, &:after{
        content    : '';
        background : fade(@radar-color, 15%);
        position   : absolute;
        margin     : auto;
        left       : 0;
        top        : 0;
        bottom     : 0;
        right      : 0;
    }

    &:before{
        width : 1px;
    }

    &:after{
        height : 1px;
    }

    i{
        display  : block;
        margin   : @radar-diameter / 6;
        position : absolute;
        left     : 0;
        top      : 0;
        bottom   : 0;
        right    : 0;
        border   : 1px solid fade(@radar-color, 15%);
        .border-radius(@radar-diameter);
        //        .box-shadow(~'0 0 20px @{radar-color}, inset 0 0 20px -2px @{radar-color}');
    }

    & > i{

        &:before{
            content      : '';
            position     : absolute;
            margin       : auto;
            left         : 0;
            top          : 0;
            bottom       : 0;
            right        : 0;
            height       : 0;
            width        : 0;
            border-style : solid;
            border-color : @radar-color transparent;
            border-width : 0 5px 15px;
        }

    }

    .dot{
        background  : lighten(@radar-color, 20%);
        position    : absolute;
        width       : @radar-dot-width;
        height      : @radar-dot-width;
        margin-top  : -(@radar-dot-width / 2);
        margin-left : -(@radar-dot-width / 2);
        .opacity(.3);
        .border-radius(@radar-dot-width);
        .box-shadow(0 0 3px 4px @radar-color);
        .animation(dot_pulse linear @radar-line-speed infinite);
    }
}

#radar{

    .line{
        position : absolute;
        top      : 0;
        left     : 0;
        bottom   : 50%;
        right    : 50%;
        z-index  : 9999;
        //        .transform-origin(@radar-radius @radar-radius);
        .transform-origin(100% 100%);
        .border-radius(@radar-diameter 0 0 0);
        .animation(radar @radar-line-speed infinite linear);
        .gradient(linear-gradient(45deg, fade(@radar-color, 1%) 0%, fade(@radar-color, 1%) 50%, @radar-color 100%));

        //        &:after{
        //            content    : '';
        //            background : @radar-color;
        //            width      : 4px;
        //            height     : 4px;
        //            position   : absolute;
        //            bottom     : -2px;
        //            right      : -2px;
        //            .border-radius(5px);
        //        }
    }
}

#sonar{

    .line{
        position : absolute;
        left     : 0;
        top      : 0;
        bottom   : 0;
        right    : 0;
        margin   : auto;
        z-index  : 999;
        width    : 6px;
        height   : 6px;
        .border-radius(@radar-diameter);
        .animation(sonar @radar-line-speed infinite linear);
        .box-shadow(inset 0 0 25px 5px fade(@radar-color, 50%));
    }

}

#guides{
    position : absolute;
    left     : 0;
    top      : 0;
    bottom   : 0;
    right    : 0;
}

@-webkit-keyframes radar{
    from{
        .transform(rotate(0deg));
    }
    to{
        .transform(rotate(360deg));
    }
}

@keyframes radar{
    from{
        .transform(rotate(0deg));
    }
    to{
        .transform(rotate(360deg));
    }
}

@-moz-keyframes dot_pulse{
    0%{
        .opacity(1);
    }
    70%{
        .opacity(.1);
    }
    100%{
        .opacity(.1);
    }
}

@-webkit-keyframes dot_pulse{
    0%{
        .opacity(1);
    }
    70%{
        .opacity(.1);
    }
    100%{
        .opacity(.1);
    }
}

@keyframes sonar{
    from{
        width         : 5px;
        height        : 5px;
    }
    to{
        width         : @radar-diameter;
        height        : @radar-diameter;
    }
}
@-moz-keyframes sonar{
    from{
        width         : 5px;
        height        : 5px;
    }
    to{
        width         : @radar-diameter;
        height        : @radar-diameter;
    }
}
@-webkit-keyframes sonar{
    from{
        width         : 5px;
        height        : 5px;
    }
    to{
        width         : @radar-diameter;
        height        : @radar-diameter;
    }
}
